.banner{
    position: absolute;
    left: 0;
    top: 80px;
width:100%;
height: calc(100vh - 80px);
overflow: hidden;
background-image:url("../../Assets/motto-bg.jpg");
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
animation:banner-rollout ease-in-out 1.5s;
}
.banner__img{
width:100%;
}
.banner__quote{
    font-size: 70px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: -2px;
    text-align: center;
  }
  .banner__author{
    font-style: italic;
    text-align: right;
    color:white;
  }
  .banner__quote{
  

  }
  @media (max-width: 1000px) {
    .banner__quote{
      font-size: 40px;
  
    }
    .banner{
      background-size: cover;
      background-position: center center;
    }
  }
  @keyframes banner-rollout {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 1000px;

    }
  }
